
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.tree{
    @apply absolute bottom-0 left-0 z-0; 
}
.slider{
    @apply absolute right-0;
    top: 50%;
}
/* .after-btn::after{   
    @apply absolute content-['']  inset-0 bg-[#1CBBB4] z-0 transform translate-x-[-100%] hover:translate-x-0 transition-all duration-300
} */
.cd-top{
    /* width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #f55f8d;
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    color: #fff; */
}

